%h1 Distritos

= link_to 'Nuevo Distrito', new_distrito_path

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @distritos.each do |distrito|
    %tr
      %td= distrito.nombre
      %td= link_to 'Editar', edit_distrito_path(distrito)
      %td= link_to 'Eliminar', distrito, :method => :delete, :data => { :confirm => '¿Estas Seguro?' }

%br

= link_to 'New Distrito', new_distrito_path
