#region-planes.container
  .region
    .region-title
      %h1= page_title!('plan')

  .region
    %p
      %b Dias:
      = @plan.dias
    %p
      %b Precio:
      = @plan.precio
    %p
      %b Descripcion:
      = @plan.descripcion

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_plan_path(@plan), class: 'btn btn-success'
    = link_to 'Regresar', planes_path, class: 'btn btn-warning'
