%h1 Listing imagenes

%table
  %tr
    %th Imagen
    %th
    %th
    %th

  - @imagenes.each do |imagen|
    %tr
      %td= imagen.imagen
      %td= link_to 'Show', imagen
      %td= link_to 'Edit', edit_imagen_path(imagen)
      %td= link_to 'Destroy', imagen, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Imagen', new_imagen_path
