#region-portadas.container

  .region
    .region-title
      %h1= page_title!('Portadas')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Portada', new_portada_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Imagen
            %th
            %th
            %th

          - @portadas.each do |portada|
            %tr
              %td= image_tag portada.imagen_url(:regular)
              - if current_admin
                %td= link_to 'Editar', edit_portada_path(portada), class: 'btn btn-success'
                %td= link_to 'Eliminar', portada, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
