%h1 Mensajes

%table
  %tr
    %th Nombre
    %th Apellido
    %th Telefono
    %th Email
    %th Mensaje
    %th Fecha
    %th
    %th

  - @contactos.each do |contacto|
    %tr
      %td= contacto.nombre
      %td= contacto.apellido
      %td= contacto.telefono
      %td= contacto.email
      %td= contacto.mensaje
      %td= l contacto.created_at, format: :short
      %td= link_to 'Ver mas', contacto
      %td= link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => '¿Esta Seguro?' }

%br

