#region-contactos.container

  .region
    .region-title
      %h1= page_title!('Mensajes')

    .region
      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th Teléfono
            %th Email
            %th Mensaje
            %th Fecha
            %th

          - @contactos.each do |contacto|
            %tr
              %td= contacto.nombre
              %td= contacto.telefono
              %td= contacto.email
              %td= contacto.mensaje
              %td= l contacto.created_at, format: :short
              - if current_admin
                %td= link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
