%h1 Listing noticias

%table
  %tr
    %th Titulo
    %th Contenido
    %th Foto
    %th Video
    %th
    %th
    %th

  - @noticias.each do |noticia|
    %tr
      %td= noticia.titulo
      %td= noticia.contenido
      %td= noticia.foto
      %td= noticia.video
      %td= link_to 'Show', noticia
      %td= link_to 'Edit', edit_noticia_path(noticia)
      %td= link_to 'Destroy', noticia, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Noticia', new_noticia_path
