#region-noticias.container.sidebar-region

  .region
    .region-title
      %h1.page-title= page_title!('Blog')

    .region-inner
      - if current_admin
        .admin-control
          = link_to 'Crear Noticia', new_noticia_path, class: 'btn btn-primary'

  .region
    .region-inner.sidebar.region-title
      %h2.title Tags
      %ul.taglist
        - @tags.each do |tag|
          %li
            = link_to tag.name, tag_path(tag.name)

    .region-inner
      #noticias
        %ul.noticias-list
          = render @noticias

    = paginate @noticias

