%h1= @noticia.titulo

%p
  %b Contenido:
  = @noticia.contenido
%p
  %b Foto:
  = image_tag @noticia.foto_url(:regular)
%p
  %b Video:
  = @noticia.video_html

- if current_admin
  = link_to 'Editar', edit_noticia_path(@noticia)

= link_to 'Regresar', noticias_path
