#region-noticias.container.sidebar-region
  .region
    .region-title
      %h1.page-title Noticia


  .region
    .region-inner.sidebar.region-title
      %h2.title Tags
      %ul.taglist
        - @tags.each do |tag|
          %li
            = link_to tag.name, tag_path(tag.name) 



    .region-inner    

      %h2.title= page_title! @noticia.titulo
      - if current_admin
        .admin-controls
          = link_to 'Editar', edit_noticia_path(@noticia), class: 'btn btn-success'

      .item-image-wrapper
        - if @noticia.foto_url
          = image_tag @noticia.foto_url(:regular), class: 'img-responsive'
        - else
          = @noticia.video_html

      .item-fecha.font-style-2 
        = "publicado hace" + ' ' + time_ago_in_words(noticia.fecha)
      = paragraph(@noticia.contenido)
      
  
      = link_to 'Regresar', noticias_path, class: 'btn btn-warning'
