%p#notice= notice

%p
  %b Titulo:
  = @noticia.titulo
%p
  %b Contenido:
  = @noticia.contenido
%p
  %b Foto:
  = @noticia.foto
%p
  %b Video:
  = @noticia.video

= link_to 'Edit', edit_noticia_path(@noticia)
\|
= link_to 'Back', noticias_path
