= nested_form_for [@usuario, @publicacion], :html => { class: 'form-horizontal', role: 'form', :multipart => true } do |f|
  - if @publicacion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@publicacion.errors.count, "error")}"
      %ul
        - @publicacion.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :tipo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :tipo, Publicacion::TIPOS.collect { |i| [i]}, class: 'form-control'
  .form-group
    = f.label :animal, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :animal, options_for_select(Animal.all.collect { |animal| [animal.nombre]}), class: 'form-control'
  .form-group
    = f.label :raza, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :raza, options_for_select(Raza.all.collect { |raza| [raza.nombre]}), class: 'form-control'
  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :recompensa, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :recompensa, placeholder: '0.0', class: 'form-control'
  .form-group
    = f.label :fecha, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :fecha, class: 'form-control'
  .form-group
    = f.label :descripcion, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :descripcion, class: 'form-control'
  = f.fields_for :imagenes do |imagen_form|
    .form-group
      = f.label 'Imagen', class: 'col-sm-2 control-label'
      .col-sm-8
        = imagen_form.file_field :imagen, class: 'form-control'
      .col-sm-2
        = imagen_form.link_to_remove "Eliminar Imagen", class: 'btn btn-danger'
  .form-group
    = f.link_to_add "Agregar Imagen", :imagenes, class: 'btn btn-primary'
  .form-group
    = f.label :edad, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :edad, class: 'form-control'
  .form-group
    = f.label :sexo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :sexo, Publicacion::SEXO.collect { |i| [i]}, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
