#region-publicacion.container
  .region
    .region-title
      %h1.page-title= page_title! @publicacion.nombre + ' ' +  @publicacion.tipo

    .region-inner
      .region
        .wrapper
          .b-line
            .row
              .column
                %h2.title.no-margin
                  = @publicacion.animal + ' ' + @publicacion.raza
                  %span.bolded
                    = @publicacion.sexo + ', ' + @publicacion.edad

              .column
                .rect
                  %b
                    Recompensa
                  S/.250.00
                - unless @publicacion.recompensa == 0
                  %b Recompensa:
                  = @publicacion.recompensa

    .region-inner
      .region
        .wrapper
          .b-line
            .row
              .column
                .font-style-2.p-top
                  Visto por última vez

              .column.child-align-right
                = link_to 'Contactar', '', class: 'btn btn-info cyan'

                .compartir
                  Compartir en: 
                  = link_to content_tag(:i, '', class: 'icon facebook'), '', target: '_blank'
                  = link_to content_tag(:i, '', class: 'icon twitter'), '', target: '_blank'


    #region-publicacion-imagenes.region-inner
      .region
        .wrapper
          .b-line
            .row
              - @publicacion.imagenes.each do |imagen|
                .item
                  = image_tag imagen.imagen_url(:thumb)

    #region-publicacion-descripcion.region-inner
      .region
        .column
          %h2.title Descripción
          = paragraph(@publicacion.descripcion)

        .column
          %h2.title Ubicación donde fue perdido

    #region-back.region-inner.wrapper.m-top-m 
      = link_to 'Regresar', publicaciones_path, class: 'btn-back'


    -#
      %p
        %b Provincia:
        = @publicacion.direccion.provincia
      %p
        %b Ciudad:
        = @publicacion.direccion.ciudad
      %p
        %b Distrito:
        = @publicacion.direccion.distrito
      %p
        %b Calle:
        = @publicacion.direccion.calle
      %p
        %b Referencia:
        = @publicacion.direccion.referencia


  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_publicacion_path(@publicacion), class: 'btn btn-success'
    
