#region-publicaciones.container
  .region
    .region-title
      %h1= page_title!('publicacion')

  .region
    %p
      %b Tipo:
      = @publicacion.tipo
    %p
      %b Animal:
      = @publicacion.animal
    %p
      %b Raza:
      = @publicacion.raza
    %p
      %b Nombre:
      = @publicacion.nombre
    %p
      %b Recompensa:
      = @publicacion.recompensa
    %p
      %b Fecha:
      = @publicacion.fecha
    %p
      %b Descripcion:
      = @publicacion.descripcion
    %p
      %b Portada:
      = image_tag @publicacion.portada_url(:regular)
    %p
      %b Fotos:
      - @publicacion.imagenes.each do |imagen|
        = image_tag imagen.imagen_url(:thumb)
    %p
      %b Edad:
      = @publicacion.edad
    %p
      %b Sexo:
      = @publicacion.sexo
    %p
      %b Provincia:
      = @publicacion.direccion.provincia
    %p
      %b Ciudad:
      = @publicacion.direccion.ciudad
    %p
      %b Distrito:
      = @publicacion.direccion.distrito
    %p
      %b Calle:
      = @publicacion.direccion.calle
    %p
      %b Referencia:
      = @publicacion.direccion.referencia


  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_publicacion_path(@publicacion), class: 'btn btn-success'
    = link_to 'Regresar', publicaciones_path, class: 'btn btn-warning'
