%p#notice= notice

%p
  %b Portada:
  = image_tag @publicacion.portada_url(:full)
%p
  %b Tipo:
  = @publicacion.tipo
%p
  %b Animal:
  = @publicacion.animal
%p
  %b Raza:
  = @publicacion.raza
%p
  %b Nombre:
  = @publicacion.nombre
%p
  %b Provincia:
  = @publicacion.provincia.nombre
%p
  %b Ciudad:
  = @publicacion.ciudad.nombre
%p
  %b Distrito:
  = @publicacion.distrito.nombre
%p
  %b Direccion:
  = @publicacion.direccion
%p
  %b Referencia:
  = @publicacion.referencia
%p
  %b Recompensa:
  = @publicacion.recompensa
%p
  %b Fecha:
  = @publicacion.fecha
%p
  %b Descripcion:
  = @publicacion.descripcion
%p
  %b Imágenes
  - @publicacion.imagenes.each do |imagen|
    = image_tag imagen.imagen_url(:thumb)

%p
  %b Lat:
  = @publicacion.lat
%p
  %b Lng:
  = @publicacion.lng
%p
  %b Edad:
  = @publicacion.edad
%p
  %b Sexo:
  = @publicacion.sexo

= link_to 'Regrasar', publicaciones_path
