#region-publicaciones.container
  .region
    .region-title
      %h1= page_title!('publicacion')

  .region
    %p
      %b Tipo:
      = @publicacion.tipo
    %p
      %b Animal:
      = @publicacion.animal
    %p
      %b Raza:
      = @publicacion.raza
    %p
      %b Nombre:
      = @publicacion.nombre
    %p
      %b Recompensa:
      = @publicacion.recompensa
    %p
      %b Fecha:
      = @publicacion.fecha
    %p
      %b Descripcion:
      = @publicacion.descripcion
    %p
      %b Lat:
      = @publicacion.lat
    %p
      %b Lng:
      = @publicacion.lng
    %p
      %b Portada:
      = @publicacion.portada
    %p
      %b Edad:
      = @publicacion.edad
    %p
      %b Sexo:
      = @publicacion.sexo

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_publicacion_path(@publicacion), class: 'btn btn-success'
    = link_to 'Regresar', publicaciones_path, class: 'btn btn-warning'
