#page-presentation.container
  .region-inner
    %h2 <b>ÚNETE</b> A MASCOTAS PERDIDAS Y <b>ENCONTRARÁS</b> A TU MASCOTA RÁPIDAMENTE

#inicio-facebook.container
  = render '/shared/like_buttom'
  = render '/shared/twitter_follow'
  = render '/shared/google_plus_follow'


#inicio-video.container
  .region
    .region-title
      %h2.title Titulo del video testimonial
    .region-inner
      = @video.link_html



#inicio-ultimas.container
  .region
    .region-inner.region-title
      %h2.title Ultimas mascotas perdidas

      .region
        - @publicaciones.each do |publicacion|
          .item
            = link_to image_tag(publicacion.imagenes.first.imagen_url(:thumb)), publicacion
    .region-inner.sidebar
      %h2.title Publica ya
      Es muy fácil
      .item
        %i.icon.icon-1
        %p Regístrate
      .item
        %i.icon.icon-2
        %p Llena los datos de tu mascota
      .item
        %i.icon.icon-3
        %p Publica y listo


#inicio-mascotas.container
  .region
    .region-title
      %h2.title MASCOTAS PERDIDAS

    .region-inner
      %p
        No sé que pasó, estaba la puerta abierta y me dio curiosidad ver que había por ahí, después de eso no recuerdo muchos detalles, solo que caminaba mirando algunas flores y cosas nuevas por todos lados. De pronto quise volver y no pude.
        %br
        %br
        Han pasado ya varias noches y aún no sé cómo volver, te extraño… tengo hambre y frío. Algunas personas me han dado de comer pero otras me han tratado muy mal, me han pateado, gritado e incluso perseguido… corrí bien rápido… algo me decía que no debía dejarme atrapar.
        %br
        %br
        Ojalá puedas leer esta carta, espero que no pienses que me escapé, eres el mejor amo del mundo, el mejor amigo...
        %br
        %br
        Recuerdo cuando llegué a casa por primera vez, cada noche al cerrar mis ojitos lo recuerdo, a pesar que me sentía triste, desorientado, inquieto; tu estabas ahí para darme cariño, amor, para calmar mi llanto, para enseñarme que estaba bien extrañar a mi mamá y a mis hermanos pero que contigo estaba y estaría bien siempre. Recuerdo también nuestros paseos por la noche en el parque, los juegos y correr, correr y correr... contigo.
        %br
        %br
        Mañana será un nuevo día y seguiré intentando encontrarte...
        %br
        por favor, no dejes de buscarme.

#inicio-ausp.container
  .region
    .region-title
      %h2.title Mascotas Perdidas es auspciado por

  .region-inner
    = render 'publicidad_carousel'

#inicio-testimonios.container
  .region
    .region-title
      %h2.title Testimonio

    .region-inner
      = image_tag @testimonio.foto_url(:thumb), class: 'img-circle'

      = paragraph(@testimonio.contenido)
      = @testimonio.nombre
