%h1 Inicio
%h2 Portada

= render 'slides_carousel'








%h2 Titulo del video testimonial
= @video.link_html

%br

%h2 Ultimas mascotas perdidas

- @publicaciones.each do |publicacion|
  = image_tag publicacion.imagenes.first.imagen_url(:thumb)

= render 'bootstrap3_carousel'




%h2 Testimonio
= image_tag @testimonio.foto_url(:thumb)
= @testimonio.contenido
