= form_for [@publicacion, @direccion], :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @direccion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@direccion.errors.count, "error")}"
      %ul
        - @direccion.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :provincia, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :provincia, options_for_select(Provincia.all.collect { |provincia| [provincia.nombre]}), class: 'form-control'
  .form-group
    = f.label :ciudad, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :ciudad, options_for_select(Ciudad.all.collect { |ciudad| [ciudad.nombre]}), class: 'form-control'
  .form-group
    = f.label :distrito, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :distrito, options_for_select(Distrito.all.collect { |distrito| [distrito.nombre]}), class: 'form-control'
  .form-group
    = f.label :calle, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :calle, class: 'form-control'
  .form-group
    = f.label :referencia, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :referencia, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
