#region-direcciones.container
  .region
    .region-title
      %h1= page_title!('direccion')

  .region
    %p
      %b Provincia:
      = @direccion.provincia
    %p
      %b Ciudad:
      = @direccion.ciudad
    %p
      %b Distrito:
      = @direccion.distrito
    %p
      %b Calle:
      = @direccion.calle
    %p
      %b Referencia:
      = @direccion.referencia

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_direccion_path(@direccion), class: 'btn btn-success'
    = link_to 'Regresar', direcciones_path, class: 'btn btn-warning'
