#region-usuario.container

  .region
    .region-title
      %h1= page_title!('Cambiar tu Contrase単a')
  .region
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "Nueva Contrase単a", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password, :autofocus => true, :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, "Confirmar Nueva Contrase単a", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password_confirmation, class: 'form-control'
      = f.submit "Cambiar mi Contrase単a"
  = render "usuarios/shared/links"
