%h1 Listing provincias

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @provincias.each do |provincia|
    %tr
      %td= provincia.nombre
      %td= link_to 'Show', provincia
      %td= link_to 'Edit', edit_provincia_path(provincia)
      %td= link_to 'Destroy', provincia, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Provincia', new_provincia_path
