%h1 Anuncios

= link_to 'Nuevo Anuncio', new_anuncio_path

%table
  %tr
    %th Link
    %th Imagen
    %th
    %th
    %th

  - @anuncios.each do |anuncio|
    %tr
      %td= anuncio.link
      %td= image_tag anuncio.imagen_url(:thumb)
      %td= link_to 'Editar', edit_anuncio_path(anuncio)
      %td= link_to 'Eliminar', anuncio, :method => :delete, :data => { :confirm => '¿Estas Seguro?' }

%br

