#region-anuncios.container

  .region
    .region-title
      %h1= page_title!('Listando anuncios')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Anuncio', new_anuncio_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Link
            %th Imagen
            %th
            %th
            %th

          - @anuncios.each do |anuncio|
            %tr
              %td= anuncio.link
              %td= anuncio.imagen
              %td= link_to 'Ver', anuncio, class: 'btn btn-info'
              - if current_admin
                %td= link_to 'Editar', edit_anuncio_path(anuncio), class: 'btn btn-success'
                %td= link_to 'Eliminar', anuncio, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
