%h1 Listing anuncios

%table
  %tr
    %th Link
    %th Imagen
    %th
    %th
    %th

  - @anuncios.each do |anuncio|
    %tr
      %td= anuncio.link
      %td= anuncio.imagen
      %td= link_to 'Show', anuncio
      %td= link_to 'Edit', edit_anuncio_path(anuncio)
      %td= link_to 'Destroy', anuncio, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Anuncio', new_anuncio_path
