= form_tag resultado_de_busqueda_path, method: :get, class: 'form' do

  .form-group.form-group-first
    .inner
      .col-sm-8
        = text_field_tag :busqueda, params[:busqueda], class: 'form-control'
      .col-sm-2
        = submit_tag "BUSCAR", name: nil, class: 'btn btn-default'
      %br
      = check_box_tag :tipo, 'Perdido'
      = check_box_tag :tipo, 'Encontrado'
