%ul.nav.nav-pills.navbar-right
  - if current_admin
    %li.link.first
      = link_to 'Cerrar Sesión', destroy_admin_session_path, :method => :delete
  - else
    - if current_usuario
      %li.link.first
        = 'Hola, ' + current_usuario.name
      %li.link
        = link_to 'Cerrar Sesión', destroy_usuario_session_path, :id => 'sign_out', :method => :delete
      %li.link
        = link_to 'Mis Publicaciones', mis_publicaciones_path
    - else
      %li.link.first
        = link_to 'Regístrate', new_usuario_registration_path
      %li.link
        = link_to 'Ingresa', new_usuario_session_path
  %li
    = link_to content_tag(:i, '', class: 'icon facebook'), 'https://www.facebook.com/mascotasperdidasperuoficial'
  %li
    = link_to content_tag(:i, '', class: 'icon vimeo'), ''
  %li
    = link_to content_tag(:i, '', class: 'icon twitter'), 'https://twitter.com/mascotasoficial'
