%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        = link_to_unless_current 'Perdidos', publicaciones_path(tipo: 'Perdido') do
          %span
            Perdidos
      %li
        = link_to_unless_current 'Encontrados', publicaciones_path(tipo: 'Encontrado') do
          %span
            Encontrados
      %li
        = link_to_unless_current 'Blog', noticias_path do
          %span
            Blog

      - if current_admin
        %li
          = link_to_unless_current 'Contacto', contactos_path do
            %span
              Contacto

      - else
        %li
          = link_to_unless_current 'Contacto', new_contacto_path do
            %span
              Contacto


  / /.navbar-collapse
