- if current_admin
  %ul.nav.navbar-nav
    %li= link_to 'Portadas', portadas_path
    %li= link_to 'Publicaciones', publicaciones_path
    %li= link_to 'Planes', planes_path
    %li= link_to 'Anuncios', anuncios_path
    %li= link_to 'Mensajes', contactos_path
    %li= link_to 'Noticias', noticias_path
    %li= link_to 'Testimonios', testimonios_path
    %li= link_to 'Videos', videos_path
    %li= link_to 'Slides', slides_path
    %li= link_to 'Cerrar Sesión', destroy_admin_session_path, :method => :delete

- else
  %ul.nav.navbar-nav
    %li= link_to 'Publicar', new_publicacion_path
    %li= link_to 'Contacto', new_contacto_path
    %li= link_to 'Blog', noticias_path

- if current_usuario
  %ul.nav
    %li= link_to 'Cerrar Sesión', destroy_usuario_session_path, :method => :delete

- else
  %ul.nav.navbar-nav
    %li= link_to 'Registrate', new_usuario_registration_path
    %li= link_to 'Ingresa', new_usuario_session_path
