%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      - if current_admin
        %li
          = link_to_unless_current 'Slides', slides_path do
            %span
              Slides
        %li
          = link_to_unless_current 'Portadas', portadas_path do
            %span
              Portadas
        %li
          = link_to_unless_current 'Publicaciones', publicaciones_path do
            %span
              Publicacion
        %li
          = link_to_unless_current 'Blog', noticias_path do
            %span
              Blog
        %li
          = link_to_unless_current 'Testimonios', testimonios_path do
            %span
              Testimonios
        %li
          = link_to_unless_current 'Videos', videos_path do
            %span
              Videos
        %li
          = link_to_unless_current 'Mensajes', contactos_path do
            %span
              Mensajes
        %li
          = link_to_unless_current 'Usuarios', usuarios_path do
            %span
              Usuarios

      - else
        %li
          = link_to_unless_current 'Perdidos', publicaciones_path(tipo: 'Perdido') do
            %span
              Perdidos
        %li
          = link_to_unless_current 'Encontrados', publicaciones_path(tipo: 'Encontrado') do
            %span
              Encontrados
        %li
          = link_to_unless_current 'Publicar', new_publicacion_path do
            %span
              Publicar

        %li
          = link_to_unless_current 'Blog', noticias_path do
            %span
              Blog

        %li
          = link_to_unless_current 'Contacto', new_contacto_path do
            %span
              Contacto


  / /.navbar-collapse
