%ul.nav.nav-pills.nav-stacked.navbar-right
  %li
    = link_to 'Mascotas Perdidas', mascotas_index_path

  %li
    = link_to 'Políticas de uso', politicas_index_path

  %li
    = link_to 'Contacto', new_contacto_path

  %li
    = link_to 'Publicar', new_publicacion_path

  %li
    = link_to 'Blog', noticias_path

