!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= page_title
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Mascotasperdidas'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#main-header
      .container
        .row
          %h1#logo
            = link_to image_tag('logo.png'), '/'
          #main-menu
            #menu-top
              = render 'layouts/navigation'
            = render 'layouts/nav_advanced'

  %section#main-content
    = yield

  #content-bottom
    = render 'layouts/buscador'

    -#
      %main{:role => "main"}
        .content
          = render 'layouts/messages'
          = render 'layouts/buscador'
          = yield
    %footer#main-footer
