!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= page_title
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Mascotasperdidas'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = yield(:javascript)
    = csrf_meta_tags
  %body{id: bodyid, class: bodyclass}
    %header#main-header
      .container
        .row
          %h1#logo
            = link_to image_tag('logo.png'), '/'
          #main-menu
            #menu-top
              = render 'layouts/nav_top'
            = render 'layouts/nav_advanced'

  #content-bottom
    = render 'layouts/bootstrap3_carousel'
    #page-search.container
      .region-inner
        = render 'layouts/buscador'



  %section#main-content
    = render 'layouts/messages'
    = yield

    -#
      %main{:role => "main"}
        .content
          = render 'layouts/messages'
          = render 'layouts/buscador'
          = yield
  %footer#main-footer
    .container
      .region
        .region-inner.region-title
          %h2.title Escríbenos

          .region
            = render '/contactos/form'



        .region-inner.sidebar
          = render 'layouts/secondary_menu'

