!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= page_title
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Mascotasperdidas'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#main-header
      .container
        .row
          %h1#logo
            = link_to image_tag('logo.png'), '/'
          #main-menu
            #menu-top
              = render 'layouts/nav_top'
            = render 'layouts/nav_advanced'

  #content-bottom
    #page-carousel
      = render 'layouts/bootstrap3_carousel'
    #page-search.container
      .region-inner
        = render 'layouts/buscador'

    #page-presentation.container
      .region-inner
        %h2 <b>ÚNETE</b> A MASCOTAS PERDIDAS Y <b>ENCONTRARÁS</b> A TU MASCOTA RÁPIDAMENTE

  %section#main-content
    = yield

    -#
      %main{:role => "main"}
        .content
          = render 'layouts/messages'
          = render 'layouts/buscador'
          = yield
  %footer#main-footer
    .container
      .region
        .region-inner.region-title
          %h2.title Escríbenos

          .region
            %form
              %fieldset
                .form-group
                  %input{type: 'text', class: 'form-control'}
              %fieldset
                .form-group
                  %textarea.form-control

         


    
        .region-inner.sidebar    
          = render 'layouts/secondary_menu'
