%h1 Listing animales

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @animales.each do |animal|
    %tr
      %td= animal.nombre
      %td= link_to 'Show', animal
      %td= link_to 'Edit', edit_animal_path(animal)
      %td= link_to 'Destroy', animal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Animal', new_animal_path
